{{#partial "content"}}
    <h1 class= "text-center h2spacing">Stock Calculator</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Category Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Shoes</th>
            <td>5</td>
            <td>Marie Claire</td>
        </tr>
        <tr>
            <th scope="row">Watch</th>
            <td>5</td>
            <td>Apple watch</td>
        </tr>
        <tr>
            <th scope="row">Bags</th>
            <td>15</td>
            <td>Prada</td>
        </tr>
        </tbody>
    </table>

{{/partial}}

{{>layout.hbs}}