{{#partial "content"}}
    <h1>RECORDED CATEGORIES</h1>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="clear">
                <p> Category Name: Bata </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clear">
                <p> Category Name: Adidas </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clear">
                <p> Category Name:Ngoma </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="clear">
                <p> Category Name:Bluesky </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clear">
                <p> Category Name: Ankara </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="clear">
                <p> Category Name: Mumias </p>
            </div>
        </div>
    </div>

    {{#each categories}}

        <div class="col-md-4">
            <div class="display">
                <p> Category Name: {{categoryName}} </p>
            </div>
        </div>
    {{/each}}
    div class="modal fade" id="elegantModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="homeland">
            <div class="modal-content form-elegant">
                <!--Header-->
                <div class="modal-header text-center">
                    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3" id="myModalLabel"><strong>Add the category</strong></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body mx-4">

                    <form action="/category/new" method="post" >
                        <div class="form-group">
                            <label for="categoryName">CategoryName</label>
                            <input name="categoryName" class="form-control" required>
                        </div>
                        <button type="button" id ="button" class="btn btn-success btn-block btn-rounded z-depth-1">Create</button>
                    </form>
                </div>

            </div>
            <!--Footer-->
        </div>
        <!--/.Content-->
    </div>
    </div>
    <!-- Modal -->

    <div class="text-center">
        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#elegantModalForm">Add Categories
        </a>
    </div>

    </div>
    </div>
{{/partial}}
{{>layout.hbs}}